#bloc1 {
  background-color: #2574B9;

}
#bloc2 {
  background-color: #9A12B3;
}

#bloc3 {
  background-color: #BD015B;
}

body{
  font-family : Arial, sans-serif;
    font-weight: 700;
}

legend {
  background-color: inherit;
}
